version: '3.6'

services:
  postgres:
    image: "postgres:${POSTGRES_VER}"
    restart: always
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - pleroma

  #adminer:
  #  image: adminer
  #ports:
  #    - 8080:8080
  #networks:
  #    - pleroma

  web:
    build:
      context: ./
      args:
        PLEROMA_VER: ${PLEROMA_VER}
    image: pleroma:${PLEROMA_VER}
    restart: always
    volumes:
      - pleroma-uploads:/pleroma/uploads
      - ./config/prod.secret.exs:/pleroma/config/prod.secret.exs
      - ./config/keys.secret.exs:/pleroma/config/keys.secret.exs
      - ./config/tos.html:/pleroma/instance/static/static/terms-of-service.html
    depends_on:
      - postgres
    networks:
      - pleroma
      - voyager_link
    healthcheck:
      test: ["CMD-SHELL", "[ $$(wget -q -O - --header 'X-Forwarded-Proto: https' http://localhost:4000/api/pleroma/healthcheck | jq -r .active) = '1' ]"]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 30s

volumes:
  postgres-data:
    driver: local
  pleroma-uploads:
    driver: local

networks:
  pleroma:
    driver: bridge
  voyager_link:
    external: true
