[Unit]
Description=Microblogging server software.
Requires=postgres.service
Wants=network.target
After=network-online.target postgres.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=60
ExecStartPre=/bin/rm -f %t/container-pleroma.pid %t/container-pleroma.ctr-id
ExecStartPre=/usr/bin/podman build -t pleroma:v2.3.0 .
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --cidfile %t/container-pleroma.ctr-id \
    --conmon-pidfile %t/container-pleroma.pid \
    --env-file .env \
    --name=pleroma \
    --replace \
    --rm \
    -p 54000:4000 \
    -v ./config/config.exs:/etc/pleroma/config.exs
    -v ./config/prod.secret.exs:/etc/pleroma/prod.secret.exs
    -v pleroma-uploads:/pleroma/uploads
    pleroma:v2.3.0
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/container-pleroma.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/container-pleroma.ctr-id
PIDFile=%t/container-pleroma.pid
Type=simple
WorkingDirectory=%h/pods/pleroma

[Install]
WantedBy=multi-user.target default.target
