[Unit]
Description = Update Pleroma instance

[Service]
WorkingDirectory = %h/vm/%i
ExecStart = /bin/bash %h/vm/%i/script/update-automated.sh
Type = simple
EnvironmentFile = %h/vm/%i/systemd/.env

